h1 {
    text-align: center
    }
h5 {
	text-align: center
	}
body {
  background-color: #BBDEFB;
}
header {
grid-area: header
  border: 2px solid blue;
  padding: 15px;
  
  }
  
section#header div,
section#reading div,
section#collection div
section#results div {
  min-height: 150px;
  margin-bottom: 15px;
}
section#reading div,
section#collection div
section#results div {
background: #E1F5FE
}
section#header div {
background: #grad {
linear-gradient(#BBDEFB, #E1F5FE);
}

article {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}


}
container {
  font-size: 18px;
  width: inherit;
  height: inherit;
  padding: 15px;
  margin: 15px;
}
div#toc-list,div#toc-img {
  padding: 14px;
  border: 2px
}
div#toc-list,div#toc-img {
  /*computed based on font-size*/
  /*good for default large screens */
  height: 10em;
}
grid-template-areas:   
    "header header"
    "article sidebar"
    "footer footer";
#grid-container {
  display: grid;
  grid-template-rows: 150px 1fr 150px;
  grid-template-columns: 1fr 30%;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}