body {
  background-color: #BBDEFB;
}

/*TYPOGRAPHY*/
h1, h2, h4	{
    text-align: center
    }
body {
  font-size: 14px;
  font-family: "times";
}
h1, h2 {
font-family: "courier" 
}
h1 {
font-size: 3rem;
}
h2 {
font-size: 2rem;
}


/*GRID*/
section#first div,
section#second div, {
  min-height: 400px;
  margin-bottom:6px;
}

/*SECTIONS*/
section#first div {
  background: #43A047;
  color: black;
  padding: 5px;
  text-align: left;
}

section#second div {
  background: #673AB7;
  color: black;
  padding: 5px;
}

/* GRID/LAYOUT STYLES */
section#first,
section#second {
 display: grid;
 grid-gap: 15px;

 grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
@media screen and (min-width:1080px) {
 section#first 
 
   grid-template-columns: 50%, 1fr;
   }
   section#second {
   
   grid-template-columns: 1fr, 50%;
   }
}

@media screen and (max-width: 670px) {
  section#second div.content-wrapper{
    grid-row: 2;
    grid-column: 1;
  }
  section#second div.media-wrapper{
    grid-row: 1;
    grid-column: 1;
  }
}