/*HEADER*/
header	{
    text-align: center
    }
h4		{
	text-align: center
	}
	
/*COLOR*/	
body {
  background-color: #BBDEFB;
}

/*TYPOGRAPHY*/
body {
  font-size: 14px;
  font-family: "times";
}

h1, h2 {
font-family: "courier" 
}

h1 {
font-size: 3rem;
}

h2 {
font-size: 2rem;
}

/*GRID*/
article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 10px;
}

/*SECTION*/ 
section{
  background: #E1F5FE;
  height: 200px;
  margin-top: 15px;
}


container {
  font-size: 14px;
  width: inherit;
  height: inherit;
  padding: 15px;
  margin: 15px;
}

/*READING SECTION*/
section#reading {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
@media screen and (min-width:1080px) {
      grid-template-columns: 55% 55%;
    }

/*COLLECTION SECTION*/
section#collection {
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr, 1fr));
}
@media screen and (min-width:1080px) {
      grid-template-columns: 55% 55%;
    }

/*RESULT SECTION*/
section#result {
	display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr, 1fr));
}

grid-template-areas:   
    "header header"
    "article sidebar"
    "footer footer";
    